<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KKPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DC3A1CD1F4DC97400421BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC3A1E61F4DC97400421BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC3A1F11F4DC97400421BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
